@model ReqTrack.Application.Web.MVC.ViewModels.UseCases.AddUseCaseViewModel

@{
    ViewData["Title"] = "Add use case";
}

<div class="row" style="margin-top: 10px">
    <div class="col-xs-3">
        <h4>Actions</h4> <hr />
        <a asp-area="" asp-controller="Users" asp-action="Index" asp-route-id=@Model.ApplicationUserId class="btn btn-default actionButton">View profile</a>
        <a asp-area="" asp-controller="Projects" asp-action="CreateProject" class="btn btn-default actionButton">Create project</a>
        <a asp-area="" asp-controller="Projects" asp-action="Index" asp-route-id=@Model.ProjectId class="btn btn-default actionButton">View project</a>
    </div>

    <div class="col-xs-9">
        <h4>Add use case to project: @Model.ProjectName</h4> <hr />
        <div>
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Note" class="control-label"></label>
                    <input asp-for="Note" class="form-control" />
                    <span asp-validation-for="Note" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="ProjectId" class="form-control" />
                    <input asp-for="ProjectName" class="form-control" />
                    <input asp-for="ApplicationUserId" class="form-control" />
                    <input asp-for="ApplicationUserName" class="form-control" />
                </div>
                <div class="form-group">
                    <table class="table" id="stepTable">
                        <tr id="stepTableHeader">
                            <th class="actionButton">Step</th>
                            <th colspan="3"><button class="btn btn-default tableButton" name="add">Add</button></th>
                        </tr>
                        @foreach (var step in Model.Steps)
                        {
                            <tr>
                                <td><input name="Steps[]" class="form-control" value="@step" /></td>
                                <td><button class="btn btn-default tableButton" name="up">Up</button></td>
                                <td><button class="btn btn-default tableButton" name="down">Down</button></td>
                                <td><button class="btn btn-default tableButton" name="del" onclick="remove_row(this)">Delete</button></td>
                            </tr>
                        }
                    </table>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}