@model ReqTrack.Application.Web.MVC.ViewModels.Projects.GetAllProjectsViewModel
@{
    ViewData["Title"] = "ViewAllProjects";
}
<h2>ViewAllProjects</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Projects)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditProject", new { id = item.Id }) |
                    @Html.ActionLink("Details", "ViewProject", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "DeleteProject", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
